
<div class="cart-request">
  <p class="cart-request__title">その他ご要望</p>
  <div class="cart-request__note">
    <dl>
      <dt>※ご注意ください※</dt>
      <dd>洗濯機の防水パンの内寸（設置場所）が横幅55cm、奥行55cm以下の場合は、<br>
        設置できない場合もございますので、事前に防水パンのサイズをお知らせください。</dd>
    </dl>
  </div>
  <textarea rows="5" cols="50" name="attributes[その他ご要望]" value="{{ cart.attributes["その他ご要望"] }}"></textarea>
</div>
<hr>
